<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    
  </header>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Final Ammount</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <% @line_items.each do |item| %>
        <tr>
          <th scope="row"><%= item.quantity %></th>
          <td><%= @order.email %></td>
          <td><%= item.name %></td>
          <td><%= humanized_money_with_symbol item.total_price_cents/100.00 %></td>
          <td><%= item.description %></td>
          <td><img src="jungle-rails/db/seed_assets/<%= item.image %>" alt="<%= item.image %>"</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
